
input {
	*width: 50%
}

input[type=text] {
  *width: 50%;
  *padding: 4px 14px;
  border-radius: 5px;
  border-color: lightgrey
  margin:5 px 15 px
}

input[type=select] {
  *width: 50%;
  *padding: 4px 14px;
  border-radius: 5px;
  border-color: lightgrey
  margin:5 px 15 px
}


div {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

table {
	width:100%;
	
}

.second {
	text-align: right
}
.bottom {
	padding-bottom: 4%
}
td {
	padding-right: 20px;
  padding-bottom: 0.5em;
}

label {
	padding-right:30%;
  padding-bottom: 0.5em;
}
